name: Playwright Tests
on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout the repo
    - uses: actions/checkout@v4
    # Step 2: Setup Node.js
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    # Step 3: Install dependencies and run tests
    - name: Install dependencies
      run: npm ci
    # Step 4: Install Playwright Browsers
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    # Step 5: Run Playwright tests
    - name: Run Playwright tests
      run: npx playwright test
    # Step 6: Upload Playwright Test Report
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
